#gameBoard {
    position: absolute;
    left: 272px;
    top: 96px;
    width: 128px;
    height: 256px;
}

#wholeGame {
    position: absolute;
    left: 48px;
    top: 32px;
    width: 640px;
    height: 384px;
    background: url(images/pf.png);
}

.marioBar {
    position: absolute;
    left: 480px;
    top: 64px;
    width: 96px;
    height: 96px;
}

#marioBar {
    background: url(images/mario1.png);
    background-size: 96px 96px;
}

.gameBlock {
    position: absolute;
    width: 16px;
    height: 16px;
}

body {
    background: url(images/background_pattern.png);
    background-repeat: repeat;
}

#topScore1 {
    position: absolute;
    left: 80px;
    top: 80px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#topScore2 {
    position: absolute;
    left: 96px;
    top: 80px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#topScore3 {
    position: absolute;
    left: 112px;
    top: 80px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#topScore4 {
    position: absolute;
    left: 128px;
    top: 80px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#topScore5 {
    position: absolute;
    left: 144px;
    top: 80px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#topScore6 {
    position: absolute;
    left: 160px;
    top: 80px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#topScore7 {
    position: absolute;
    left: 176px;
    top: 80px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#score1 {
    position: absolute;
    left: 80px;
    top: 128px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#score2 {
    position: absolute;
    left: 96px;
    top: 128px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#score3 {
    position: absolute;
    left: 112px;
    top: 128px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#score4 {
    position: absolute;
    left: 128px;
    top: 128px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#score5 {
    position: absolute;
    left: 144px;
    top: 128px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#score6 {
    position: absolute;
    left: 160px;
    top: 128px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#score7 {
    position: absolute;
    left: 176px;
    top: 128px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/0.png);
    background-size: 16px 16px;
}

#virusCount {
    position: absolute;
    right: 48px;
    bottom: 32px;
    width: 16px;
    height: 16px;
    background: url(images/cyfry/4.png);
    background-size: 16px 16px;
}

#virusBoxRed {
    position: absolute;
    width: 64px;
    height: 48px;
    left: 40px;
    bottom: 60px;
    background: url(images/lupa/br/default.png);
    background-size: 64px 48px;
}

#virusBoxBlue {
    position: absolute;
    width: 64px;
    height: 48px;
    left: 112px;
    bottom: 32px;
    background: url(images/lupa/bl/default.png);
    background-size: 64px 48px;
}

#virusBoxYellow {
    position: absolute;
    width: 64px;
    height: 48px;
    left: 112px;
    bottom: 112px;
    background: url(images/lupa/yl/default.png);
    background-size: 64px 48px;
}